@model MVC_Library.Models.Classes.FileUploadModel

@{
    ViewBag.Title = "UploadFiles";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Upload Files</h2>


@using (Html.BeginForm("UploadFiles", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @*<asp-validation-for*@

                @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control", @type = "file" , @style ="width: auto"} })
                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
}